{% extends "_layout.html" %}

{% block title %}minimal website{% endblock title %}

{% block content %}
<header>
    <h1>hello.</h1>
    <aside>this is an <strong>epic</strong> website, kinda looks like a grayscale filter</aside>
</header>

<h2>whats going on</h2>
<p>im just copying what some other dude did and <i>hopefully</i> improving it (probably not). i have a 13com test that i
    need
    to do good on so hopefully my html and css get better from this</p>

<h2>some filler text cos i dunno what to put here</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat dolor et maximus mattis. Fusce tortor orci,
    fringilla quis leo et, scelerisque ullamcorper erat. Nullam feugiat ac odio suscipit cursus. Phasellus luctus
    faucibus tincidunt. Donec ornare facilisis neque vitae dignissim. Sed ullamcorper efficitur nisi, at finibus tortor
    tempor sit amet. Phasellus convallis tincidunt lectus eget sodales. Nullam molestie pretium dolor, eget dictum neque
    commodo non.
</p>

<h2>lets try an image</h2>
<p> its not that deep all you gotta do is add an image eks dee</p>
<img src="static/images/ninjaCat.jpg" style="width: 250px"
    alt="samurai cat looking extremely cool looking off into the distance">
<p>this is a very cool picture of a samurai cat. look at it. he look cold af. he fits in with the black and white theme
    very well. lucky he was the first picture to show up on pinterest</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat dolor et maximus mattis. Fusce tortor orci,
    fringilla quis leo et, scelerisque ullamcorper erat. Nullam feugiat ac odio suscipit cursus. Phasellus luctus
    faucibus tincidunt. Donec ornare facilisis neque vitae dignissim. Sed ullamcorper efficitur nisi, at finibus tortor
    tempor sit amet. Phasellus convallis tincidunt lectus eget sodales. Nullam molestie pretium dolor, eget dictum neque
    commodo non. cool <a href="https://www.google.com">link</a> omg no way
</p>



{% endblock content %}